body{
  font-family: Optima;
  margin-left: -10px;
}
.header{
  width: 101%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);  
  position: relative;
  }
  .up{
    width: 100%;
    height: 120px;
}
.logo img{
    margin-top: 6px;
    margin-left: 10%;
}
.img_item{
   list-style: none;
   display: inline-block;
   margin-left: 1%;
   margin-top: 8px;
   width: 20px;
}
.header ul{
    list-style: none;
    display: block;
    text-align: center;
     margin-top: -130px;
     padding-top: 10px;
     margin-left: 60%;
}
.header ul li{
    width: 60px;
    display: inline-block;
    
}
.header ul a{
    text-decoration: none;
    color: #000000;
}
.search-box{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  height: 25px;
  padding: 10px;
  border-radius: 40px;
}
.user{
  margin-left: 80%;
  margin-top: 3.4%;
  font-size: 20px;
  color: black;
  top: 50%;
}
.user a i {
  color: #000000;
}
.search-box:hover{
  background: #cfcece;
}
.search-box:hover > .search-txt{
  width: 240px;
  
}
.search-txt{
  background: none;
  border: 0;
  line-height: 25px;
  width: 0px;
}
.search-btn{
  background: none;
  font-size: 25px;
  float: right;
  line-height: 25px;
  color: rgb(0, 0, 0);
  border-radius: 40px;
}

.menu{
  background-color: rgb(211, 211, 211);
  text-align: center;
}
.dropbtn div{
  height: 15px;
  line-height: 15px;
  color:rgb(12, 12, 12);
  padding: 0px;
  font-size: 15x;
  border: none;
  margin-left:7px;
  float: left;
}

.dropdown {
  width: 150px;
  position: relative;
  display: inline-block;
}
.dropdown a{
  text-decoration: none;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 1000px;
  height: 600px;
  margin: auto;
  margin-left: -125%;

}
.dropdown-content-event {
  display: none;
  position: absolute;
  background-color: #ffffff; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 400px;
  height: auto;
  margin: auto;

}
.dropdown_item :hover{
  font-weight: bold;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: auto;
  border-right: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
  position: relative;
  float: left;
}
.dropdown-content-event a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: auto;
  height: auto;
  position: relative;
  text-align: left;
  border-bottom: 1px solid black;
}

.dropdown-content a:hover {
      color: rgba(0, 0, 0, 0.911);
  }

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content-event {
  display: block;
}
.travel{
  margin-left: 2%;
  margin-top: 5%;
  width: auto;
  height: auto;
}
.travel .dropdown-content-travel a{
  float: left;
  width: 200px;
  height: 40px;
  border: none;
  text-align: left;
}


.tab-dropdown-content{
display: none;
margin-top: -10%;
margin: 0 auto;
}
.tab-dropdown-content.active{
display: block;
}
.img-sea{
  width: 101%;
  height: 700px;
  background-image: url('./img/slide1.jpg');
  margin-top: 0px;
}
.img-sea form{
  width: 1000px;
  height: 200px;
  background-color: white;
  margin-left: 16%;
  margin-bottom: 30%;
  border-radius: 5px;
  margin-top: 10%;
}

  .tabs{
    display: flex;
    position: relative;
  }
.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #3d3d3d;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}
.tab-item:hover {
  opacity: 1;
  border-bottom: 4px solid rgb(184, 183, 183);
}
.tab-item.active {
  opacity: 2;
  border-bottom: 4px solid rgb(71, 71, 71);
}
.tab-content {
  padding: 0px 0;
}
.tab-pane {
  color: #333;
  display: none;
}
.tab-pane.active {
  display: block;
}
.tab-pane ul li{
  list-style: none;
  float: left;
  width: 190px;
}
.tab-pane  ul li label{
  font-size: 16px;
  color: rgb(0, 0, 0);
}
.tab-pane ul li input{
  font-size: 10px;
  font-family: Optima;
}
.tab-pane ul li select{
  font-size: 10px;
  font-family: Optima;
}
#hotel{
  width: 170px;
  height: 25px;
  font-size: 16px;
  border-radius: 5px 2px 5px 2px;
  border-color: #c4c4c4;
}
#place{
  width: 170px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px 2px 5px 2px;
  border-color: #c4c4c4;
}
#date{
  width: 170px;
  height: 25px;
  font-size: 16px;
  border-radius: 5px 2px 5px 2px;
  border-color: #c4c4c4;
}
#member{
  width: 170px;
  height: 25px;
  font-size: 16px;
  border-radius: 5px 2px 5px 2px;
  border-color: #c4c4c4;
}
#btn{
  width: 100px;
  height: 25px;
  margin-left: 60px;
  margin-top: 5px;
  font-size: 16px;
  border-radius: 5px ;
  border-color: #c4c4c4;
}
.rest{
  width: 101%;
  height: 400px;
  margin-top: -20px;
  background-color: rgb(224, 209, 180);
  
}
.rest >h1{
  text-align: center;
  color: #6d4912;
}
.rest >p {
  width: 600px;
  margin-left: 30%;
  text-align: center;
}
.rest div{
  background-color: rgb(146, 41, 0);
  width: 300px;
  height: 100px;
  display: inline-block;
  margin-left: 9.5%;
  text-align: center;
  line-height: 20px;
}
.rest div a{
  text-decoration: none;
  color: white;
}
.rest2{
  width: 101%;
  height: 550px; 
}
.rest2 h1{
  text-align: center;
  color: #6d4912;
}
.rest2 #content-rest {
  width: 600px;
  margin-left: 30%;
  text-align: center;
}
.rest2 div {
  width: 170px;
  float: left;
  margin-left: 10%;
}
.rest2 img{
  width: 70px;
  height: 70px;
  background-color: #E9E9E9;
  border-radius: 50px;
  margin-left: 50px;
}
.rest2 >p{
  text-align: center;
  margin-left: 5%;
}
.rest2 a div p{
  text-decoration: none;
  color: black;
}
.rest2 >a >p {
  width: 200px;
  height: 40px;
  margin-left: 43%;
  text-align: center;
  line-height: 40px;
  color: white;
  background-color: #000000;
  border-radius: 5px;
}
.rest2 >a{
  text-decoration: none;
}
.rest3 {
  width: 101%;
  height: 1050px;
  background-color: #E9E9E9;
}
.rest3 >h1{
  text-align: center;
  color: #707070;
}
.rest3 .view-all{
  width: 600px;
  text-align: center;
  color: #707070;
}
.rest3 >p{
  width: 600px;
  text-align: center;
  margin-left: 30%;
}

.rest3 .cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 12%;
  
}
.card-item{
  width: 250px;
  height: 340px;
  background-color: white;
  line-height: 1;
  text-align: left;
  border: 3px;
  color: black;
  margin-left: 10px;
  margin: 10px 20px 20px 5px;
  border-radius: 5px;
}
.card-item:hover{
  box-shadow: 2px 2px 3px 2px rgb(204, 204, 204);
}
.card-item img{
  width: 250px;
  height: 147px;
  margin-left: 0px;
  border-radius:  5px 5px 0px 0px;
}
.card-content h4{
  color: black;
  padding-left: 10px;
}
.card-content h4 a{
  color: black;
 
}
.card-content p {
  padding-left: 10px;
}
.card-content span {
  padding-left: 10px;
}
.card-content a{
  text-decoration: none;
  color: white;
}
#tt {
  width: 240px;
  height: 32px;
  overflow: hidden;
  text-overflow:ellipsis;
}
#btnTour{
  width: 100px;
  height: 40px;
  font-size: 15px;
  background-color: orange;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  border: 2px solid orange;
}
#btnTour:hover{
  background-color: rgb(253, 223, 188);
}
#btnTour:hover a{
  color: black;
}

.rest3 a p{
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 460px;
  border-radius: 5px;
}
.rest3 a{
  text-decoration: none;
}
.history{
  width: 101%;
  height: 870px;
  background-color: #f5f5f5;
  margin-top: -px;
}
.history h1{
  text-align: center;
  color: #858585;
}
.history >p{
  width: 600px;
  text-align: center;
  margin-left: 30%;
  color: #808080;
}
.card-history{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 11%;
}
.card-history-content img{
  width: 210px;
  height: 270px;
  display: flex;
  margin: 30px 10px 15px 10px;
}
.card-history-content img:hover{
  width: 220px;
  height: 280px;
  margin: 5px;
  margin-top: 25px;
  box-shadow: 2px 2px 3px 2px rgb(204, 204, 204);
}
.history-content{
  margin-top: -260px;
  margin-left: 20px;
}
.history-down{
  margin-top: 180px;
  margin-left: 20px;
}
.card-history-content a{
  text-decoration: none;
  color: white;
}
.history >a >p{
  width: 200px;
  height: 40px;
  background-color: #000000;
  text-align: center;
  line-height: 40px;
  margin-left: 43.5%;
  color: white;
  border-radius: 5px;
}
.history a {
  text-decoration: none;
}
.come-on{
  width: 101%;
  height: 400px;
}
.come-on h1{
  text-align: center;
  color: #3d3d3d;
}
.show-list{
  width: 400px;
  height: 200px;
  float: left;
  margin-left: 200px;
}
.come-on a{
  text-decoration: none;
}
.come-on >a >p{
  width: 200px;
  height: 40px;
  background-color: #000000;
  text-align: center;
  line-height: 00px;
  margin-left: 43.5%;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 65px;
}
.footer{
  width: 101%;
  height: 450px;
  background-color: #c9c9c9;
}
.footer div div{
  float: left;
  width: 270px;
  left: 6%;
transform: translate(80%, 5%);
}
.footer div div a {
  text-decoration: none;
  color: rgb(114, 114, 114); 
  font-size: 14px;
}
.footer div div a :hover{
  color: black;
  opacity: 1;
}
.follow{
  margin-left: 15%;
  margin-top: -10px;
}
.follow h4{
  color: rgb(114, 114, 114);
}

.follow a i{
  color: rgb(121, 121, 121);
  background-color: rgb(235, 235, 235);
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  margin-top: -15px;
}
.follow a :hover{
  background-color: white;
}
.footer video{
  margin-left: 800px;
  margin-top: -150px;
}
.copy-right{
  width: 101%;
  margin-top:0px;
  background-color: #333;
  height: 50px;
}
.copy-right a{
  line-height: 50px;
  text-decoration: none;
  color: white;
  margin-left: 50px ;
}