body{
    background-image: url('./img/slide07.jpg');
    width: 101%;
    padding: 20px;
    font-family: Optima;
}
.form{
    width: 400px;
    height: 500px;
    background-color: aliceblue;
    margin-left: 35%;
    margin-top: 50px;
    border-radius: 10px;
}
.form-item a{
    float: left;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: rgb(158, 158, 158);
    border-radius: 4px;
}
.form-item.active a{
    color: black;
    font-size: 18px;
}
.form-item a:hover {
    border-bottom: 2px solid black;
    font-size: 17px;
}
.form-sign.active{
    margin-top: -400px;
    margin-left: 37%;
    display: block;

}
.form-sign{
    margin-top: -400px;
    margin-left: 30px;
    display: none;

}
#ho{
    width: 330px;
    height: 30px;
}
#ho :focus{
    border-color: #6a5a9f;
}
#tel{
    width: 330px;
    height: 30px;
}
#email{
    width: 330px;
    height: 30px;
}
#user{
    width: 330px;
    height: 30px;
}
#password{
    width: 330px;
    height: 30px;
}
#btn{
    width: 300px;
    font-size: 18px;
    margin-left: 2%;
    font-family: Optima;
    border-radius: 5px;
    background-color: rgb(247, 116, 55);
    color: white;
}
#username{
    width: 330px;
    height: 30px;
}
#pass{
    width: 330px;
    height: 30px;
}