.box{
  position: relative;
  width: 100%;
}
body{
  font-family: Optima;
  margin-left: -10px;
  background-color: #eee;
  box-sizing:border-box;
  }
.header{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);  
    position: relative;
    }
    .up{
      width: 100%;
      height: 120px;
  }
  .logo img{
      margin-top: 6px;
      margin-left: 10%;
  }
  .img_item{
     list-style: none;
     display: inline-block;
     margin-left: 1%;
     margin-top: 8px;
     width: 20px;
  }
  .header ul{
      list-style: none;
      display: block;
      text-align: center;
       margin-top: -130px;
       padding-top: 10px;
       margin-left: 60%;
  }
  .header ul li{
      width: 60px;
      display: inline-block;
      
  }
  .header ul a{
      text-decoration: none;
      color: #000000;
  }
  .search-box{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 25px;
    padding: 10px;
    border-radius: 40px;
  }
  .user{
    margin-left: 80%;
    margin-top: 3.4%;
    font-size: 20px;
    color: black;
    top: 50%;
  }
  .user a i {
    color: #000000;
  }
  .search-box:hover{
    background: #cfcece;
  }
  .search-box:hover > .search-txt{
    width: 240px;
    
  }
  .search-txt{
    background: none;
    border: 0;
    line-height: 25px;
    width: 0px;
  }
  .search-btn{
    background: none;
    font-size: 25px;
    float: right;
    line-height: 25px;
    color: rgb(0, 0, 0);
    border-radius: 40px;
  }
  
.menu{
    background-color: rgb(211, 211, 211);
    text-align: center;
}
.dropbtn div{
  height: 15px;
  line-height: 15px;
  color:rgb(12, 12, 12);
  padding: 0px;
  font-size: 15x;
  border: none;
  margin-left:7px;
  float: left;
}

.dropdown {
  width: 150px;
  position: relative;
  display: inline-block;
}
.dropdown a{
  text-decoration: none;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 1000px;
  height: 600px;
  margin: auto;
  margin-left: -125%;

}
.dropdown-content-event {
  display: none;
  position: absolute;
  background-color: #ffffff; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 400px;
  height: auto;
  margin: auto;

}
.dropdown_item :hover{
  font-weight: bold;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: auto;
  border-right: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
  position: relative;
  float: left;
}
.dropdown-content-event a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: auto;
  height: auto;
  position: relative;
  text-align: left;
  border-bottom: 1px solid black;
}

.dropdown-content a:hover {
      color: rgba(0, 0, 0, 0.911);
  }

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content-event {
  display: block;
}
.travel{
  margin-left: 2%;
  margin-top: 5%;
  width: auto;
  height: auto;
}
.travel .dropdown-content-travel a{
  float: left;
  width: 200px;
  height: 40px;
  border: none;
  text-align: left;
}


.tab-dropdown-content{
display: none;
margin-top: -10%;
margin: 0 auto;
}
.tab-dropdown-content.active{
display: block;
}
  
      .footer{
          width: 101%;
          height: 450px;
          background-color: #c9c9c9;
        }
        .footer div div{
          float: left;
          width: 270px;
          left: 6%;
        transform: translate(80%, 5%);
        }
        .footer div div a {
          text-decoration: none;
          color: rgb(114, 114, 114); 
          font-size: 14px;
        }
        .footer div div a :hover{
          color: black;
          opacity: 1;
        }
        .follow{
          margin-left: 15%;
          margin-top: -10px;
        }
        .follow h4{
          color: rgb(114, 114, 114);
        }
        
        .follow a i{
          color: rgb(121, 121, 121);
          background-color: rgb(235, 235, 235);
          line-height: 50px;
          text-align: center;
          border-radius: 50px;
          font-size: 30px;
          width: 50px;
          height: 50px;
          margin-top: -15px;
        }
        .follow a :hover{
          background-color: white;
        }
        .footer video{
          margin-left: 800px;
          margin-top: -150px;
        }
        .copy-right{
          width: 101%;
          margin-top:0px;
          background-color: #333;
          height: 50px;
        }
        .copy-right a{
          line-height: 50px;
          text-decoration: none;
          color: white;
          margin-left: 50px ;
        }
    .db{
    max-width: 500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    }
    .ht{
        margin-bottom: 20px ;
        margin-top: 20px;
    }
    .ht input{
        margin-left: 5px;
        width: 300px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #161516;
        outline: none;
    }
    .sinh{
        margin-bottom: 20px ;
        margin-top: 20px;
    }
    .sinh input{
        margin-left: 5px;
        width: 222px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #58257b;
        outline: none;
    }
    .dc{
        margin-bottom: 20px ;
        margin-top: 20px;    
    }
    .dc input{
        margin-left: 5px;
        width: 320px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #19191a;
        outline: none;
    }
    .sdt{
        margin-bottom: 20px ;
        margin-top: 20px;

    }
    .sdt input{
        margin-left: 5px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #58257b;
        outline: none;
    }
    .email{
        margin-bottom: 20px ;
        margin-top: 20px;
    }
    .email input
    {
        margin-left: 5px;
        width: 293px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #58257b;
        outline: none;
    }
    .sex{
        margin-bottom: 20px ;
        margin-top: 20px;
    }
    
    .form-group{
        margin-bottom: 40px ;
        margin-top: 20px;
        margin-left: 420px;
        
    }
    .form-group >input{
        width: 150px;
        background-color: #e9d8f4;
        border: none;
        color: #58257b;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 15px;
        border-radius: 5px;
    }

    .ht input[type=text]:focus {
        border: 3px solid #58257b;
    }
    .sinh input[type=date]:focus{
        border: 3px solid #58257b;
    }
    .dc input[type=text]:focus{
        border: 3px solid #58257b;
    }
    .sdt input[type=text]:focus{
        border: 3px solid #58257b;
    }
    .email input[type=email]:focus{
        border: 3px solid #58257b;
    }
    .cmnd{
        margin-bottom: 20px ;
        margin-top: 20px;
    }
    .cmnd input{
        margin-left: 5px;
        width: 293px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #58257b;
        outline: none;
    }
    .cmnd input[type=text]:focus{
        border: 3px solid #58257b;
    }
    .tentour{
        margin-bottom: 20px ;
        margin-top: 20px;
    }
    .tentour input{
        margin-left: 5px;
        width: 293px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #58257b;
        outline: none;
    }
    .tentour input[type=text]:focus
    {
        border: 3px solid #58257b;
    }
    .time{
        margin-bottom: 20px ;
        margin-top: 20px;
    }
    .time input{
        margin-left: 5px;
        width: 293px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #58257b;
        outline: none;
    }
    .time  input[type=datetime]:focus{
        border: 3px solid #58257b;
    }
    .timedl{
        margin-bottom: 20px ;
        margin-top: 20px;
    }
    .timedl input{
        margin-left: 5px;
        width: 293px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #58257b;
        outline: none;
    }
    .timedl  input[type=text]:focus{
        border: 3px solid #58257b;
    }
    .dckh{
        margin-bottom: 20px ;
        margin-top: 20px;
    }
    .dckh input{
        margin-left: 5px;
        width: 293px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #58257b;
        outline: none;
    }
    .dckh input[type=text]:focus
    {
        border: 3px solid #58257b;
        background-color: #e9d8f4
    }
    .gia {
        margin-bottom: 20px ;
        margin-top: 20px;
    }
    .gia input{
        margin-left: 5px;
        width: 293px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #58257b;
        outline: none;
    }
    .gia input[type=text]:focus
    {
        border: 3px solid #58257b;
    }
    .gia input[type=text]
    {
        background-color: #e9d8f4
    }
    .dckh input[type=text]
    {
        background-color: #e9d8f4
    }
    .time input[type=datetime]
    {
        background-color: #e9d8f4
    }
    .tentour input[type=text]
    {
        background-color: #e9d8f4
    }
    .timedl input[type=text]
    {
        background-color: #e9d8f4
    }