@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

html{
  height: 100%;
}
body {
  margin:0;
  padding:0;
  overflow-x: hidden;
  font-family: Optima;
  font-size: 16px;
  background-image: linear-gradient(to right, #b8deff, #fdffeb);
}


#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: -7%;
}

#content {
  width: 100%;
  position: relative;
  top: 10%;
  left: -4%;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 180px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}
#sidebar .nav li{
  list-style: none;
  margin-left: -40%;
  height: auto;
  width: 220px;
  padding: 15px ;
}

#sidebar .nav a{
  background: none;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
  text-decoration: none;
}

#sidebar .nav a:hover{
  background: none;
  color: #ffffff;
  font-weight: bold;
}

#sidebar .nav a i{
  margin-right: 1
}
.manage-admin{
    width: 101%;
    height: 600px;
    margin-left: 10%;
}
.manage.active {
    font-weight: bold;
    color: white;
}
.container-fluid{
    margin-top: 0%;
}
.header{
    width: 101%;
    height: 50px;
    margin-top: -8px;
}



.manage-admin div form{
  margin-left: 20%;
  width: 300px;
  height: 400px;
}
#mask{
  width: 400px;
  height: 30px;
  margin-left: 2%;
  background: none;
}
#matour{
  width: 400px;
  height: 30px;
  margin-left: 2%;
  background: none;
}
#tensk{
  width: 400px;
  height: 30px;
  margin-left: 2%;
  background: none;
}
#noidung{
  width: 400px;
  height: 100px;
  margin-left: 2%;
  background: none;
}
#image{
  width: 280px;
  margin-left: 2%;
  background: none;
}

#save{
  width: 100px;
  font-size: 17px;
  background-color: rgb(91, 250, 112);
  color: white;
  margin-top: 30px;
}
#btnDelete{
    width: 80px;
    font-size: 13px;
    font-weight: bold;
    background-color: #f1718b;
    border-radius: 5px;
    color: white;
}
#btnDelete:hover{
    background-color: #e45471;
}
.copy-right{
    width: 101%;
    margin-top:0px;
    background-color: #333;
    height: 50px;
  }
  .copy-right a{
    line-height: 50px;
    text-decoration: none;
    color: white;
    margin-left: 50px ;
  }

  .travel-sea{
    margin-left: 35px;
    display: none;
  }
  
  .travel-sea li{
    margin-left: 20px;
    color: #CFD8DC;
    font-size: 14px;
  }
  .travel-sea li :hover{
    color: white;
  }
  #sidebar .nav li:hover .travel-sea {
    display: block;
  }

