@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

html{
  height: 100%;
}
body {
  margin:0;
  padding:0;
  overflow-x: hidden;
  font-family: Optima;
  font-size: 16px;

}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: -7%;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
  top: 10%;
  left: -4%;
}


/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 180px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}
#sidebar .nav li{
  list-style: none;
  margin-left:-40%;
  height: auto;
  width: 220px;
  padding: 15px ;
}

#sidebar .nav a{
  background: none;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
  text-decoration: none;
}

#sidebar .nav a:hover{
  background: none;
  color: #ffffff;
  font-weight: bold;
}

#sidebar .nav a i{
  margin-right: 1
}
.manage-admin{
    width: 101%;
    height: 600px;
    margin-left: 10%;
}
.manage.active {
    font-weight: bold;
    color: white;
}
.container-fluid{
    margin-top: 0%;
}
.header{
    width: 101%;
    height: 50px;
    margin-top: -8px;
}


#btn{
    width: 130px;
    font-size: 17px;
    margin-left: 150px;
    background-color: #3044fa;
    color: white;
    margin-top: 20px;
    border-radius: 3px;
    font-weight: bold;
}
#btn a{
  text-decoration: none;
  color: white;
}
.manage-admin table{
    margin-left: 8%;
    width: 1250px;
    margin-top: 40px;
}
.manage-admin table tr th{
    border-bottom: 1px solid black;
}
.manage-admin table tr #note{
  width: 400px;
}
.manage-admin table tr #actions{
    width: 300px;
}
table {
  border-collapse: collapse;
}
#btnUpdate{
    width: 80px;
    font-size: 13px;
    background-color: #53EEA2;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
#btnUpdate:hover{
    background-color: #33d185;
}
#btnUpdate a{
    text-decoration: none;
    color: white;
}
#btnDelete a{
    text-decoration: none;
    color: white;
}

#btnDelete{
    width: 80px;
    font-size: 13px;
    font-weight: bold;
    background-color: #f1718b;
    border-radius: 5px;
    color: white;
}
#btnDelete:hover{
    background-color: #e45471;
}
.copy-right{
    width: 101%;
    margin-top:0px;
    background-color: #333;
    height: 50px;
  }
  .copy-right a{
    line-height: 50px;
    text-decoration: none;
    color: white;
    margin-left: 50px ;
  }
  .travel-sea{
    margin-left: 35px;
    display: none;
  }
  
  .travel-sea li{
    margin-left: 20px;
    color: #CFD8DC;
    font-size: 14px;
  }
  .travel-sea li :hover{
    color: white;
  }
  #sidebar .nav li:hover .travel-sea {
    display: block;
  }
  

