@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: Optima;
  font-size: 16px;
  width: 99%;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: -7%;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
  top: 10%;
  left: -4%;

}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 180px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}
#sidebar .nav li{
  list-style: none;
  margin-left:-40%;
  height: auto;
  width: 220px;
  padding: 15px ;
}

#sidebar .nav a{
  background: none;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
  text-decoration: none;
}

#sidebar .nav a:hover{
  background: none;
  color: #ffffff;
  font-weight: bold;
}

#sidebar .nav a i{
  margin-right: 1
}
.timkiem{
  margin-left: 10%;
}
#search{
  width: 200px;
  background: none;
}
.manage-admin{
    width: 101%;
    height: 600px;
    margin-left: 10%;
}
.manage.active {
    font-weight: bold;
    color: white;
}
.container-fluid{
    margin-top: 0%;
}
.header{
    width: 101%;
    height: 50px;
    margin-top: -8px;
}


#btn{
    width: 130px;
    font-size: 17px;
    margin-left: 150px;
    background-color: #3044fa;
    color: white;
    margin-top: 20px;
    border-radius: 3px;
    font-weight: bold;
}
#btn a{
  text-decoration: none;
  color: white;
}
.manage-admin table{
    margin-left: 150px;
    width: 1000px;
    margin-top: 40px;
}
.manage-admin table tr th{
    border-bottom: 1px solid black;
}
.manage-admin table tr #actions{
    width: 500px;
}
.manage-admin form{
  margin-left: 15%;
  position: absolute;
  padding: 10px 10px;
  border-radius: 5px;
  height: 300px;
  width: 300px;
}
.manage-admin form >div{
  margin-left: 15%;
}
.manage-admin form div input{
  font-size: 18px;
}
table{
  border-collapse: collapse;
}
#fullname{
  border: 0;
  width: 200px;
  background: none;
  border: none;
}
#fullname:focus{
  border: 2px ;
  border-radius: 5px;
  background-color: white;
}
#username{
  border: 0;
  width: 200px;
  background: none;
}
#username:focus{
  border: 2px ;
  border-radius: 5px;
  background-color: white;
}
#password{
  border: 0;
  width: 200px;
  font-size: 20px;
  background: none;
}
#password:focus{
  border: 2px ;
  border-radius: 5px;
  background-color: white;
}
#btn-add{
  margin-left: 30%;
  background-color: #33d185;
  color: white;
  width: 100px;
  font-size: 15px;
  border-radius: 5px;
}
#btnUpdate{
    width: 80px;
    font-size: 13px;
    background-color: #53EEA2;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
#btnUpdate:hover{
    background-color: #33d185;
}
#btnDelete{
    width: 80px;
    font-size: 13px;
    font-weight: bold;
    background-color: #f1718b;
    border-radius: 5px;
    color: white;
}
#btnDelete >a{
  text-decoration: none;
  color: white;
}
#btnUpdate a{
  text-decoration: none;
  color: white;
}
#btnDelete:hover{
    background-color: #e45471;
}
.title{
  height: auto;
  width: 220px;
}
.travel-sea{
  margin-left: 35px;
  display: none;
}

.travel-sea li{
  margin-left: 20px;
  color: #CFD8DC;
  font-size: 14px;
}
.travel-sea li :hover{
  color: white;
}
#sidebar .nav li:hover .travel-sea {
  display: block;
}

 



  

