@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

html{
  height: 100%;
}
body {
  margin:0;
  padding:0;
  overflow-x: hidden;
  font-family: Optima;
  font-size: 16px;

}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: -7%;
}

#content {
  width: 100%;
  position: relative;
  top: 10%;
  left: -4%;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 180px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}
#sidebar .nav li{
  list-style: none;
  margin-left: -40%;
  height: auto;
  width: 220px;
  padding: 15px ;
}

#sidebar .nav a{
  background: none;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
  text-decoration: none;
}

#sidebar .nav a:hover{
  background: none;
  color: #ffffff;
  font-weight: bold;
}

#sidebar .nav a i{
  margin-right: 1
}
.manage-admin{
    width: 101%;
    height: 600px;
    margin-left: 10%;
}
.manage.active {
    font-weight: bold;
    color: white;
}
.container-fluid{
    margin-top: 0%;
}
.header{
    width: 101%;
    height: 50px;
    margin-top: -8px;
}



.manage-admin table{
    margin-left: 150px;
    width: 1250px;
    margin-top: 40px;
}
.manage-admin table tr th{
    border-bottom: 1px solid black;
}


#btnDelete{
    width: 80px;
    font-size: 13px;
    font-weight: bold;
    background-color: #f1718b;
    border-radius: 5px;
    color: white;
}
#btnDelete:hover{
    background-color: #e45471;
}
.copy-right{
    width: 101%;
    margin-top:0px;
    background-color: #333;
    height: 50px;
  }
  .copy-right a{
    line-height: 50px;
    text-decoration: none;
    color: white;
    margin-left: 50px ;
  }
  * {
    box-sizing: border-box;
  }
  
  
  form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    margin-left: 10%;
    width: 20%;
    background: #f1f1f1;
  }
  form.example button {
    float: left;
    width: 3%;
    padding: 7px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .travel-sea{
    margin-left: 35px;
    display: none;
  }
  
  .travel-sea li{
    margin-left: 20px;
    color: #CFD8DC;
    font-size: 14px;
  }
  .travel-sea li :hover{
    color: white;
  }
  #sidebar .nav li:hover .travel-sea {
    display: block;
  }
  .thongke{
    margin-left: 150px;
    
  }
  .thongke div{
    float: left;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    background: linear-gradient(to bottom, rgb(242, 250, 205), #9EFEFF);
  }
  .thongke h3{
    text-align: center;
    color: #37474F;
  }
  .thongke p {
    text-align: center;
    font-size: 30px;
    color: #0b7dda;
  }

